



.header__lang-link {
    
    color: #FFFFFF;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 18px;
}

.header__lang-link:hover {
    opacity: 0.8;
}



@media all and (max-width: 768px) {
    .header__lang-link {
        padding: 0;
    }

    .header__lang-link:last-child {
        padding-left: 18px;
    }
}

@media all and (max-width: 320px) {
    .header__lang-link {
        margin: 0;
    }
}