

@import url(./place/place.css);


.places {
    display: flex;
    flex-direction: column;
    
   
    padding-top: 92px;
    margin: 0 auto;
}
/*
@media screen and (max-width: 1024px) {
    .places {
        
    }
} */

@media all and (max-width: 768px) {
    .places {
        
        padding-top: 88px;
    }
}

@media all and (max-width: 320px) {
    .places {
        
        padding: 64px 0 0;
    }
}