




.places {
    display: flex;
    flex-direction: column;
    max-width: 76.88%;
    padding-top: 92px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 90.63%;
    }
}

@media all and (max-width: 767px) {
    .places {
        max-width: 93.75%;
        padding-top: 88px;
    }
}


@media all and (max-width: 320px) {
    .places {
        max-width: 100%;
        padding: 64px 0 0;
    }
}