

@import url(./place/place.css);


.places {
    display: flex;
    flex-direction: column;
    max-width: 76.88%;
    width: 100%;
    margin: 0;
    padding: 92px 148px 0;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
        padding-left: 48px;
        padding-top: 92px;
        margin: 0;
    }
}

@media all and (max-width: 768px) {
    .places {
        max-width: 720px;
        width: 100%;
        padding: 88px 24px 0;
    }
}

@media all and (max-width: 320px) {
    .places {
        width: 320px;
        padding: 64px 0 0;
    }
}