
@import url(./vendor/normalize.css);

.page {
    background-color: #2A2C2F;
    max-width: 1280px;
    max-height: 6874px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    opacity: 0.8;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 92.5%;
    height: 4.06%;
    margin: 0 auto;
    padding: 2.19% 3.75% 0;
    
}

.header__logo {
    width: 14.86%;
    height: 4.39%;
    
}

.header__lang-link {
    color: #FFFFFF;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 18px;
}

.header__lang-link-text {
    width: 2.53%;
    height: 2.36%;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    text-align: right;
    margin-top: 0;
}

.header__lang-link:first-child {
    text-decoration-line: underline;
}

.header__lang-links {
    display: flex;
    flex-direction: row;
}


.lead {
    max-width: 76.9%;
    margin: 0 auto;
    padding-bottom: 92px;
}

.lead__title {
    display: flex;
    max-width: 73.17%;
    max-height: 20.33%;
    margin: 0 auto;
    padding-bottom: 3.25%;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 6em;
    line-height: 100px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
}

.lead__subtitle {
    max-width: 65.04%;
    max-height: 7.32%;
    margin: 0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.lead__image { 
    max-width: 100%;
    padding-top: 64px;
}

.lead__caption {
    max-width: 16.16%;
    max-height: 1.42%;
    margin-top: 0.81%;
    margin-bottom: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    margin-left: 11.56%;
    margin-right: 0; 
    padding-bottom: 92px;
}

.intro__title {
    max-width: 61%;
    width: 100%;
    margin: 0;
    margin-bottom: 5.8%;
    height: 8.41%;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 3.3em;
    line-height: 58px;
    color: #FFFFFF;
}

.intro__text {
    max-width: 61.91%;
    width: 100%;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.intro__list {
    max-width: 53.91%;
    width: 100%;
    margin: 0;
    padding-top: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75em;
    line-height: 18px;
    color: #FFFFFF;
}

.photo-grid {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: 92.5%;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.photo-grid__item {
    width: 284px;
    height: 213px;
}

.places {
    display: flex;
    flex-direction: column;
    max-width: 76.88%;
    width: 100%;
    margin: 0;
    padding: 0 148px;
}

.place {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.place__left-column {
    display: flex;
    flex-direction: column;
    width: 62.75%;
}

.place__right-column {
    display: flex;
    flex-direction: column;
    width: 63.19%;
    padding-left: 40px;
}

.place__title {

}

.place__image {
    width: 460px;
    height: 460px;
}


/*
.places {
    max-width: 76.88%;
    margin: 0 auto;
    padding-left: 0;
}

.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 460px));
    grid-gap: 48px 40px;
    color: #FFFFFF;
    margin-top: 75px;
}

.place__image {
   width: 100%;
}

.place__title {
    width: 460px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin-top: 0;
    margin-bottom: 0;
}

.place__website {
    display: grid;
    grid-template-rows: 12px 22px;
    grid-gap: 12px;
    align-content: end;
}

.place__url-heading {
    width: 456px;
    height: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin: 0;
}

.place__link {
    width: 456px;
    height: 22px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    margin: 0;
}

.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 24px;
}
*/
.cover {
    display: flex;
    width: 92.5%;
    height: 740px;
    margin: auto;
    margin-top: 92px;
    align-items: center;
    justify-content: center;
}

.cover__background {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
}


.cover__title {
    width: 560px;
    height: 152px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    z-index: 11;
    color: #FFFFFF;
}

.cover__title-link {
    color: #FFFFFF;
    text-decoration: none;
    z-index: 999;
}

.cover__subtitle { 
    margin: 0;
    width: 360px;
    height: 66px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-top: 32px;
    text-align: center;
    color: #FFFFFF;
    z-index: 998;
    transition: opacity .33s;
}


.cover__overlay {
  position: absolute;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  width:100%;
  height: 100%;
  background: #2A2C2F;;
  transition: opacity .33s;
}

.cover__overlay:hover {
    opacity: 0.8;
    background: #2A2C2F;;
  }

.footer {
    padding-top: 92px;
}

.footer__link-items {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-bottom: 24px;
    padding-left: 0;
}

.footer__link-item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    margin-right: 18px;
}

.footer__link-item:last-child {
    width: 186px;
    height: 16px;
    margin-left: 515px;
    margin-right: 0;
    text-align: right;
    font-size: 14px;
}

.footer__link-item:first-child {
    margin-left: 48px;
}

.footer__link {
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (min-device-width: 1024px) {

    }
        


@media all and (max-device-width: 768px){

}

@media all and (max-width: 320px) {
    .header {
    max-width: 90%;
    }

    .header__logo {
        min-width: 44.38%;
    }

    .lead__title {
        font-size: 2.5em;
        line-height: 44px;
    }

    .lead__subtitle {
        font-size: 1em;
        line-height: 20px;
        width: 288px;
        height: 40px;
    }

/* шляпа на гридах ну их нах
    .places {
        width: 320px;
        padding: 0;
        margin: 0;
    }

    .place_image {
        width: 320px;
    }

    .place__paragraph {
        width: 288px;
        font-size: 16px;
    }

    .place__url-heading {
        display: none;
    }
    */
}

/*  Оставить для копирования стилей
@media all and (max-device-width: 320px) {
    .page {
        width: 100%;
        flex-direction: column; 
    }

    .header {
        width: 320px;
        padding: 0;
    }

    .header__logo {
        width: 142px;
        height: 42px;
        padding-left: 16px;
        padding-top: 16px;}

    .header__lang-links {
        padding-right: 16px;
        padding-top: 14px;
    }

    

    .header__lang-link {
        width: 22px;
        height: 24px;
    }

    .lead {flex-direction: column;
        width: 100%;
        margin: auto;}
    .lead__title {
        width: 288px;
        height: 88px;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        margin: 48px auto 0;
        text-align: center;
    }
    .lead__subtitle {
        width: 288px;
        height: 40px;
        margin: 16px 16px 40px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .lead__image {max-width: 320px;
                  max-height: 200px;}

    .lead__caption {
        width: 159px;
        height: 14px;
        margin-left: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
}

@media all and (max-device-width: 768px) {
    
}

@media screen and (max-device-width: 1024px) {
    
}

@media screen and (min-device-width: 1280px) {
   
}
*\


