
@font-face {
    src: url(./fonts/Inter-Black.woff) format('woff'),
            url(./fonts/Inter-Black.woff2) format('woff2');
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
}
@font-face {
    src: url(./fonts/Inter-Regular.woff) format('woff'),
            url(./fonts/Inter-Regular.woff2) format('woff2');
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url(./fonts/Inter-Bold.woff) format('woff'),
            url(./fonts/Inter-Bold.woff2) format('woff2');
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
}


@import url(./vendor/normalize.css);

.page {
    background-color: #2A2C2F;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    height: 52px;
    margin: 0 auto;
    padding: 28px 4.05% 4.73%;
}

.header__logo {
    width: 14.86%;
}

.header__lang-link {
    color: #FFFFFF;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 18px;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:last-child {
    text-decoration: none;
}

.header__lang-link-text {
    width: 2.53%;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    text-align: right;
    margin-top: 0;
}

.header__lang-link:first-child {
    text-decoration-line: underline;
}

.header__lang-links {
    display: flex;
    flex-direction: row;
    align-self: center;
}


.lead {
    max-width: 984px;
    margin: 0 auto;
    padding-bottom: 92px;
}

.lead__title {
    display: flex;
    max-width: 73.17%;
    margin: 0 auto;
    padding-bottom: 3.25%;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 6em;
    line-height: 100px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
}

.lead__subtitle {
    max-width: 65.04%;
    margin: 0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875em;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.lead__image { 
    max-width: 984px;
    width: 100%;
    padding-top: 6.5%;
}

.lead__caption {
    max-width: 16.16%;
    margin-top: 0.81%;
    margin-bottom: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    width: 690px;
    margin-left: 11.56%;
    margin-right: 0; 
    padding-bottom: 92px;
}

.intro__title {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 5.8%;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 3.3em;
    line-height: 58px;
    color: #FFFFFF;
}

.intro__text {
    max-width: 100%;
    width: 100%;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.intro__list {
    width: 100%;
    margin: 0;
    padding-top: 4.638%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75em;
    line-height: 18px;
    color: #FFFFFF;
}

.photo-grid {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    max-width: 92.5%;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}

.photo-grid__item {
    max-width: 284px;
    max-height: 213px;
}

.places {
    display: flex;
    flex-direction: column;
    max-width: 76.88%;
    width: 100%;
    margin: 0;
    padding: 92px 148px 0;
}

.place {
    display: flex;
    flex-direction: row;
    width: 984px;
    flex-wrap: wrap;
    padding-top: 8.13%;
}

.place:first-child {
    padding-top: 0;
}

.place__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5em;
    line-height: 76px;
    color: #FFFFFF;
    width: 46.75%;
    margin: 0;
}

.place__website {
    padding-left: 4.07%;
    width: 46.34%;
    align-self: flex-end;
}

.place__url-heading {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin-top: 0;
}

.place__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}

.place__image {
    padding-top: 48px;
    width: 46.75%;
}

.place__text {
    padding-top: 4.88%;
    padding-left: 4%;
    max-width: 49.19%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.place__paragraph {
    margin-top: 0;
}

.place__link {
    margin: 0;
}


.cover {
    display: flex;
    width: 1184px;
    height: 740px;
    margin: auto;
    margin-top: 92px;
    align-items: center;
    justify-content: center;
}

.cover__background {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.cover__background::before {
    content: '';
    position: absolute;
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.cover__background:hover::before {
    opacity: 0.8;
}

.cover__title {
    max-width: 560px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    z-index: 999;
    color: #FFFFFF;
}

.cover__title-link {
    color: #FFFFFF;
    text-decoration: none;
    z-index: 999;
}

.cover__title-link:hover {
    opacity: 0.8;
}

.cover__subtitle { 
    margin: 0;
    max-width: 360px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-top: 32px;
    text-align: center;
    color: #FFFFFF;
    z-index: 999;
    transition: opacity .33s;
}

.footer {
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    padding: 92px 48px 24px;
}

.footer__link-items {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 0;
    padding-bottom: 24px;
    padding-left: 0;
}

.footer__link-item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    margin-right: 18px;
}

.footer__copyright {
    max-width: 186px;
    width: 100%;
    padding-left: 485px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    list-style-type: none;
}

.footer__link-item:first-child {
    margin-left: 48px;
}

.footer__link {
    text-decoration: none;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 928px;
        margin: 0 auto;
    }

    .header__lang-link {
        width: 30px;
        height: 28px;
    }

    .lead {
        margin: 0;
        padding: 0 48px 0;
    }

    .lead__image {
        max-width: 928px;
        max-height: 580px;
        padding-top: 56px;
    }

    .lead__caption {
        max-width: 159px;
        width: 100%;
        padding-left: 0;
    }

    .intro {
        margin: 0;
        padding-top: 92px;
        padding-left: 48px;
    }

    .photo-grid {
        width: 928px;
        grid-column-gap: 14px;
        grid-row-gap: 14px;
        margin: 0;
        padding-left: 48px;
        padding-right: 48px;
    }

    .photo-grid__item {
        width: 300px;
        height: 225px;
    }

    .places {
        max-width: 928px;
        padding-left: 48px;
        padding-top: 92px;
        margin: 0;
    }

    .place {
       width: 100%;
       max-height: 644px;
       min-height: max-content;
    }

    .place__text {
        width: 456px;
        padding-left: 32px;
    }

    .place__title {
        width: 440px;
        height: max-content;
    }

    .place__website {
        width: 456px;
        padding-left: 32px;
    }

    .place__image {
        width: 440px;
        height: 440px;
    }

    .place__paragraph {
        margin-bottom: 24px;
    }

    .cover {
        max-width: 1024px;
        width: 100%;
        
        height: 640px;
    }

    .footer {
        max-width: 928px;
        width: 100%;
        height: 18px;

    }

    .footer__link-item:first-child {
        margin-left: 0;
    }

    .footer__link-item:last-child {
        margin-right: 0;
    }
    
    .footer__link-list {
        margin: 0 auto;
    }

    .footer__copyright {
        padding-left: 280px;
    }
}

@media all and (max-width: 768px) {

    .header {
        width: 720px;
        padding: 28px 24px 48px;
    }

    .header__logo {
        width: 176px;
    }

    .header__lang-link {
        width: 30px;
        height: 28px;
        padding: 0;
    }

    .header__lang-link:last-child {
        width: 29px;
        padding-left: 18px;
    }

    .lead {
        max-width: 768px;
        padding: 0;
    }

    .lead__title {
        max-width: 720px;
        width: 100%;
        margin: 0 24px;
        padding-bottom: 32px;
    }

    .lead__subtitle {
        max-width: 640px;
        padding: 0 64px;
    }

    .lead__image {
        max-width: 100%;
        max-height: 480px;
    }

    .lead__caption {
        margin-top: 8px;
        padding-left: 24px;
    }

    .intro {
        max-width: 720px;
        width: 100%;
        padding: 88px 24px 0;
    }

    .intro__title {
        width: 720px;
        padding: 0 0 40px;
    }

    .intro__list {
        padding-top: 32px;
    }

    .photo-grid {
        max-width: 720px;
        width: 100%;
        padding: 88px 24px 0;
        grid-gap: 16px 16px;
        
    }

    .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
    }

    .places {
        max-width: 720px;
        width: 100%;
        padding: 88px 24px 0;
    }

    .place__title {
        word-spacing: 60px;
        width: 340px;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    }

    .place__website {
        width: 352px;
        padding-left: 28px;
    }

    .place__image {
        max-width: 340px;
        max-height: 340px;
        padding-top: 48px;
    }

    .place__text {
        max-width: 352px;
        padding-left: 28px;
        margin: 0;
    }

    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }

    .place__paragraph:last-child {
        margin-bottom: 0;
    }

    .cover {
        max-width: 768px;
        height: 480px;
        margin-top: 88px;
    }

    .footer {
        width: 720px;
        padding: 88px 24px 24px;
    }

    .footer__copyright {
        padding-left: 69px;
    }
}

@media all and (max-width: 320px) {
    .header {
        max-width: 288px;
        width: 100%;
        padding: 16px 16px 48px;
    }

    .header__logo {
        width: 142px;
        height: 42px;
    }

    .header__lang-link {
        width: 22px;
        height: 24px;
    }

    .lead {
        width: 320px;
    }
    
    .lead__title {
        width: 288px;
        font-size: 2.5em;
        line-height: 44px;
        padding: 0 16px 16px;
        margin: 0;
    }

    .lead__subtitle {
        font-size: 1em;
        line-height: 20px;
        width: 288px;
        margin: 0;
        padding: 0 16px 0;
    }

    .lead__image {
        width: 320px;
        height: 200px;
        padding-top: 40px;
    }

    .lead__caption {
        width: 159px;
        padding-left: 16px;
    }

    .intro {
        width: 288px;
        padding: 64px 16px 0;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }

    .photo-grid {
        width: 288px;
        padding: 64px 16px 0;
        grid-gap: 12px;
    }

    .photo-grid__item {
        width: 288px;
        height: 216px;
    }

    .places {
        width: 320px;
        padding: 64px 0 0;
    }

    .place {
        width: 320px;
        padding-top: 48px;
    }

    .place__title {
        width: 288px;
        height: 35px;
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px 0;
        word-spacing: normal;
    }

    .place__image {
        width: 320px;
        height: 320px;
        padding-top: 32px;
    }

    .place__text {
        padding: 32px 16px 0;
    }

    .place__website {
        display: none;
    }

    .cover {
        max-width: 320px;
        width: 100%;
        height: 200px;
        margin-top: 64px;
    }

    .cover__background {
        max-width: 320px;
        width: 100%;
        height: 200px;
        background-size: 320px 200px;
    }

    .cover__title {
        width: 288px;
        
        font-size: 32px;
        line-height: 35px;
    }

    .cover__subtitle {
        width: 288px;
        
        font-size: 14px;
        line-height: 16px;
    }

    .footer {
        width: 186px;
        height: 310px;
        margin: 0;
        padding: 64px 118px 24px 16px;
    }

    .footer__link-items {
        flex-direction: column;
        padding: 0;
    }

    .footer__link-item {
        margin-bottom: 0;
        margin-right: 0;
        padding-bottom: 32px;
    }

    .footer__link-item:last-child {
        margin-bottom: 48px;
    }

    .footer__link {
        height: 24px;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__copyright {
        padding-left: 0;
        font-size: 14px;
        line-height: 14px;
        text-align: left;
    }
}