.place__image {
    padding-top: 48px;
    max-width: 46.7%;
    align-self: flex-start;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 47.2%;
    }
}

@media all and (max-width: 767px) {
    .place__image {
        max-width: 100%;
        padding-top: 6.25%;
    }
}

@media all and (max-width: 320px) {
    .place__image {
        max-width: 100%;
        padding-top: 32px;
    }
}