


@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
    padding-top: 56px;
    justify-content: center;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding-top: 48px;
        text-align: center;
    }
}

@media all and (max-width: 768px) {
    .lead {
        max-width: 768px;
        padding: 0;
    }
}

@media all and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}

