



@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-links/__lang-link/header__lang-link.css);
@import url(./__lang-links/__lang-link-text/header__lang-link-text.css);
@import url(./__lang-links/__lang-link/header__lang-link.css);


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    padding-top: 28px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        margin: 0 auto;
    }
}

@media all and (max-width: 768px) {
    .header {
        max-width: 720px;
        padding: 28px 24px 48px;
    }
}

@media all and (max-width: 320px) {
    .header {
        max-width: 288px;
        padding: 16px 16px 48px;
    }
}