.place__text {
    padding-top: 4.88%;
    padding-left: 4%;
    max-width: 49.19%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}


@media all and (max-width: 768px) {
    .place__text {
        
        margin: 0;
    }
}

@media all and (max-width: 320px) {
    .place__text {
        padding: 32px 16px 0;
    }
}