.footer__link-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    margin-right: 18px;
}



@media screen and (max-width: 1024px) {
    .footer__link-item:last-child {
        margin-right: 0;
    }
}

@media all and (max-width: 767px) {
    .footer__link-item {
        padding-bottom: 32px;
    }
}