.place__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5em;
    line-height: 76px;
    color: #FFFFFF;
    max-width: 46.75%;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
        height: max-content;
    }
}

@media all and (max-width: 768px) {
    .place__title {
        word-spacing: 60px;
        max-width: 340px;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    }
}

@media all and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        height: 35px;
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px 0;
        word-spacing: normal;
    }
}