.place__paragraph {
    margin-top: 0;
    
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        margin-bottom: 3.45%;
    }


    .place__paragraph:last-child {
        margin-bottom: 0;
    }
}