


.footer__copyright {
    width: 186px;
    justify-content: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    list-style-type: none;
}



@media all and (max-width: 768px) {
    .footer__copyright {
        padding-left: 69px;
    }
}


@media all and (max-width: 767px) {
    .footer__copyright {
        padding-left: 0;
        font-size: 14px;
        line-height: 14px;
        width: 186px;
        margin-right: 0;
        text-align: left;
    }
}


@media all and (max-width: 320px) {
    .footer__copyright {
        padding-top: 16px;
    }
}