


.footer__copyright {
    max-width: 186px;
    width: 100%;
    justify-content: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    list-style-type: none;
}

@media screen and (max-width: 1024px) {
    
}

@media all and (max-width: 768px) {
    .footer__copyright {
        padding-left: 69px;
    }
}

@media all and (max-width: 767px) {
    .footer__copyright {
        padding-left: 0;
        font-size: 14px;
        line-height: 14px;
        text-align: left;
    }
}