.lead__caption {
    
    margin-top: 0.81%;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        max-width: 159px;
        
        
    }
}

@media all and (max-width: 768px) {
    .lead__caption {
        margin-top: 1.04%;
        padding-left: 3.13%;
    }
}

@media all and (max-width: 320px) {
    .lead__caption {
        width: 159px;
        padding-left: 16px;
    }
}
