

.header__lang-link-text {
    width: 2.53%;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    text-align: right;
    margin-top: 0;
}