




@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__text/place__text.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__place-link/place__link.css);
@import url(./__url-heading/place__url-heading.css);





.place {
    display: flex;
    flex-direction: row;
    max-width: 984px;
    flex-wrap: wrap;
    padding-top: 8.13%;
    font-family: 'Inter', Arial, sans-serif;
}

.place:first-child {
    padding-top: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        
     }
}

@media all and (max-width: 768px) {
    .place {
        
        padding-top: 88px;
    }
}

@media all and (max-width: 320px) {
    .place {
        
        padding-top: 48px;
    }
}