

@import url(./__link/footer__link.css);
@import url(./__link-items/footer__link-items.css);
@import url(./__link-item/footer__link-item.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link-list/footer__link-list.css);

.footer {
    max-width: 92.5%;
    padding: 92px 0 24px;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0 auto;
    
}




/*
@media all and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        max-width: 186px;
        margin: 0;
        padding: 64px 118px 24px 16px;
    }
}
*/