

@import url(./__link/footer__link.css);
@import url(./__link-items/footer__link-items.css);
@import url(./__link-item/footer__link-item.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link-list/footer__link-list.css);

.footer {
    max-width: 1184px;
    padding: 92px 0 24px;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0 auto;
}


@media screen and (max-width: 1279px) {
    .footer {
        max-width: 92.5%;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 90.63%;
    }
}


@media all and (max-width: 768px) {
    .footer {
        max-width: 93.75%;
        padding-top: 88px;
    }
}


@media all and (max-width: 767px) {
    .footer {
        max-width: 58.13%;
        margin: 0;
        padding-left: 5%;
        padding-top: 64px;
    }
}

