

@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_nounderline/header__lang-link_nounderline.css);


.header__lang-links {
    display: flex;
    flex-direction: row;
    align-self: center;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    text-align: right;
    margin-top: 0;
}