


.place__website {
    padding-left: 4.07%;
    flex-basis: 46.34%;
    align-self: flex-end;
}

@media screen and (max-width: 1024px) {
    .place__website {
        flex-basis: 44.53%;
        padding-left: 32px;
    }
}

@media all and (max-width: 768px) {
    .place__website {
        padding-left: 28px;
    }
}


@media all and (max-width: 767px) {
    .place__website {
        display: none;
    }
}
